.mat-button, .mat-raised-button{
    background-color:green;
    color:white;
    margin-top:10px;
} 

.sendData
{
    margin-left: 78%
}

.danger{
    color: red;
    font-size: 10px;
}
.deleteButton
{
    margin-left:20px
}