<form [formGroup]="form" novalidate>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input formControlName="carBrand" matInput placeholder="Модель Автомобиля">
    </mat-form-field>

    <div class="alert alert-danger" *ngIf="form.controls['carBrand'].invalid && form.controls['carBrand'].touched">
      Не указано имя
    </div>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input formControlName="mileage" matInput placeholder="Пробег">
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="form.controls['mileage'].invalid && form.controls['mileage'].touched">
      Не указан пробег
    </div>
  </div>


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input formControlName="service" matInput placeholder="Услуга">
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="form.controls['service'].invalid && form.controls['service'].touched">
      Не указана услуга
    </div>
  </div>

  <div formArrayName="visitTime">
    <div class="form-group " *ngFor="let visitTime of form.controls['visitTime'].controls; let i = index">

      <div class="form-group visitTimes" [formGroupName]="i">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="date" [errorStateMatcher]="matcher" placeholder="Выберите дату"  readonly >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker readonly="false"></mat-datepicker>
          <mat-error *ngIf="form.controls['visitTime'].controls[i].controls.date.touched && form.controls['visitTime'].controls[i].hasError('dateIsNotValid')">
            {{form.controls['visitTime'].controls[i].errors.dateIsNotValid}}
          </mat-error>

        </mat-form-field>
        <mat-form-field>
          <input type=time formControlName="time" [errorStateMatcher]="matcher" matInput placeholder="Время">
          <mat-error *ngIf="form.controls['visitTime'].controls[i].touched && form.controls['visitTime'].controls[i].hasError('timeIsNotValid')">
            {{form.controls['visitTime'].controls[i].errors.timeIsNotValid}}
          </mat-error>
        </mat-form-field>
        <button class="deleteButton" mat-raised-button color="warn" [disabled]="form.controls['visitTime'].controls.length==1" (click)="deleteDate(i)">
          Удалить дату
        </button>
        <button class="deleteButton" mat-raised-button color="warn" (click)="show(form.value)">
            Удалить дату
          </button>
      </div>
    </div>

  </div>

  <button mat-raised-button [disabled]="form.controls['visitTime'].invalid" (click)="addNewDate()">
    Добавить дату
  </button>


  <button class="sendData" mat-raised-button (click)="save()" [disabled]="form.invalid">
    Сохранить
  </button>
</form>