<p>
  table works!
</p>
<!-- <div class="button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div> -->

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="carBrand">
      <mat-header-cell *matHeaderCellDef> Модель </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.carBrand}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="mileage">
      <mat-header-cell *matHeaderCellDef> Пробег </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mileage}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="service">
      <mat-header-cell *matHeaderCellDef> Услуга </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.service}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="visitTime">
      <mat-header-cell *matHeaderCellDef> Время </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="times" *ngFor="let dateTime of row.visitTime"> {{dateTime.date | date}} {{dateTime.time }}</div>
      </mat-cell>
    </ng-container>

    <ng-container class="actions" matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openRewriteWindow(row)">
            <mat-icon>create</mat-icon>
            <span>Редактировать</span>
          </button>
          <button mat-menu-item (click)="openSendWindow(row)">
            <mat-icon>send</mat-icon>
            <span>Отправить</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>