.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6)
  {
  flex: 0 0 5%;
  }


  .times{
    margin-top:5px;
    margin-bottom:5px;
  }