<h3>Ознакомьтесь с итогом и отправьте его в течение 
  <span class="time">{{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}}</span> 
  минут</h3>
 
<body>
  <div class="outerMargin">
    <span>Автомобиль:</span>
    <span class="rightSpan">{{data.carBrand}} | {{data.mileage}} </span>

  </div>
  <div class="outerMargin">
    <span>Услуга:</span>
    <span  class="rightSpan">{{data.service}} </span>

  </div>

  <div class="outerMargin">
    <span>Выбранное время: </span>
  </div>

  <div class="insideInfo">
    <div class="littleMargin" *ngFor="let date of data.visitTime">
      <span> - {{date.date}} | {{date.time}} </span>
    </div>
  </div>


  <div class="outerMargin">
    <span>Денежные поступления: </span>
  </div>
  <div class="insideInfo">
    <div class="littleMargin">
      <span>- Услуга</span>
      <span class="rightSide">{{data.servicePrice}}руб.</span>
    </div>
    <div class="littleMargin">
      <span class="discount">- Скидка </span>
      <span class="rightSide">
        <div class="container">
          <div class="percent-wrap" *ngFor="let discount of discounts;let i = index" (click)="toggleClick(discount)"[ngClass]="{'clicked' :discount.isClicked}">
            <div class="percent">
              {{discount.forShow}}
            </div>
          </div>
        </div>
      </span>

    </div>
    <div class="littleMargin">
      <span>- Наценка на запчасти</span>
      <span class="rightSide">{{data.partsPrice}}руб.</span>
    </div>
    <div class="littleMargin">
      <span>- Комиссия</span>
      <span class="rightSide">{{commission}}руб.</span>
    </div>
  </div>

  <hr>

  <div class="outerMargin">
    <span>Итого</span>
    <span class="rightSide">{{totalPrice}}руб.</span>
  </div>


    
  <div class="outerMargin sendData">
    <span >
      <mat-checkbox class="example-margin" [(ngModel)]="checked"></mat-checkbox>
      Я согласен с условиями соглашения
    </span>
    <span><button mat-raised-button  color="accent" [disabled]="!checked">Отправить</button></span>
  </div>




</body>