@for $i from 0 through 4 { 
    .percent-wrap:nth-child(#{$i+1}) { 
    font-size: 10px + 1*$i; 
    } 
} 

.container { 
    width: 12em; 
    display: inline-flex; 
    justify-content: space-between; 
    align-items: center; 
 } 
    
 .percent-wrap { 
    height: 2.1em; 
    width: 2.1em; 
    border-radius: 50%; 
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }



.insideInfo {
    margin-left:10px;
    // border: 1px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 5px;
    
}

.outerMargin {
    margin-top: 15px;
    // border: 1px solid red
}

.rightSide {
    float: right;
    
}

.rightSpan {
    margin-left:5%;
}

.sendData
{
    margin-left: 25%
}

.time
{
    color: green;
}

.littleMargin
{
    margin-top:5px;
}
.littleMargin:after {
    content: "";
    display: table;
    clear: both;
  }
.radioGroup {
    display: flex;
    justify-content: center;
}

.radioButton {
    align-items: center;
    border-radius: 50%;
    // border: 1px solid black;


}

.circle{
	border: 3px solid #000;
	display: inline-block;
	width: 30%;
	text-align: center;
	border-radius: 100%;
	background: #cecece;
	max-width: 350px;
	margin: 2%;
}

.circle p{
	display: block;
	height: 0;
	margin: 0;
	padding: 50% 20%;
}

.circle p span{
	display: block;
	transform: translateY(-50%);
}

.clicked{
    height: 2.1em; 
    width: 2.1em; 
    border-radius: 50%; 
    background-color: green;
    text-align: center; 
    line-height: 2em; 
  }

  .discount {
    line-height: 2em;
  }

  .mat-button, .mat-raised-button{
    background-color:green;
} 

.mat-checkbox {
   color:green;
    
}