/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html
{
    font-family: 'Roboto', sans-serif;    
}
.mat-radio-label-content {
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 3px;
    padding-right: 5px;
}
.accent-color {
    color: green;
  }

